<!DOCTYPE html>
<html>
<head>
    <title>사내 물품 관리</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>로그인</h1>
    <form>
        <label>ID : </label>
        <input type="text" name="id">
        <label>PW : </label>
        <input type="password" name="pw">
        <input type="submit" name="login" value="로그인">
        <button>회원가입</button>
    </form>
</body>
</html>
