<nav class="navbar">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="/">
                <img src='/img/heaventree.png' width="140" height="23">
            </a>
        </div>

        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
                <li><a href="#">이용자 관리</a></li>
                <li class="btn-open-popup"><a href="#">물품 등록</a></li>
                <li><a href="/itemmanagement">물품 관리</a></li>
                <li><a href="#">대여 현황</a></li>
                <li><a href="#">마이 페이지</a></li>
            </ul>
        </div>
    </div>
</nav>
<%- include('./createItem.ejs')%>

