<!--
    * 담당자 : 강재민
    * 설명 : 에러 발생 혹은 접근 권한이 없는 페이지에 접근 시 이 페이지로 redirect 하기 위한 페이지
    * 주요기능 : 에러코드와 에러관련 메시지를 받아와 렌더링
-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title><%=code %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= code %></h1>
<p><%= message %></p>
<h3><a href="/">홈으로 돌아가기</a></h3>
</body>
