<!DOCTYPE html>
<html>
<head>
    <title>대여 현황</title>
    <script defer src="/javaScripts/rentalStatus.js"></script>
    <script defer src="https://code.jquery.com/jquery-3.6.1.js"></script>
</head>
<body>
<%- include('./nav.ejs')%>
<div class="rentalStatusBody">
    <div class="rentalList">
        <table id="rentalStatusListTable">
            <thead>
            <tr>
                <th scope="col">대분류</th>
                <th scope="col">소분류</th>
                <th scope="col">물품 이름</th>
                <th scope="col">물품 코드</th>
                <th scope="col">현재 대여자 이름</th>
                <th scope="col">대여 사유</th>
                <th scope="col">대여일</th>
            </tr>
            </thead>
            <tbody id="tr_rentalList">
            <% rentingInfo.map(res => {%>
            <%});%>
            <tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>