<!DOCTYPE html>
<html>
<head>
    <title>사내 물품 관리</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<div class="login-container">
    <div class="form-login">
        <ul class="login-nav">
            <li class="login-nav__item">
                <a href="/login">Sign In</a>
            </li>
            <li class="login-nav__item active">
                <a href='#'>Sign Up</a>
            </li>
        </ul>
        <label for="login-input-user" class="login__label">
            이름
        </label>
        <input id="name" name="name" class="login__input" type="text" />

        <label for="login-input-user" class="login__label">
            부서
        </label>
        <input id="department" name="department" class="login__input" type="text" />

        <label for="login-input-user" class="login__label">
            직책
        </label>
        <select id="role" name="role" class="login__input" type="text">
            <option value="대표"> 대표</option>
            <option value="부장"> 부장</option>
            <option value="팀장"> 팀장</option>
            <option value="대리"> 대리</option>
            <option value="사원"> 사원</option>
        </select>

        <label for="login-input-user" class="login__label">
            사번
        </label>
        <input id="workNumber" name="workNumber" class="login__input" type="text" />

        <label for="login-input-user" class="login__label">
            이메일
            <span id="email_message"></span>
        </label>
        <input id="email" name="email" class="login__input" type="text" onkeyup="emailTest()"
               style="ime-mode:disabled"/>

        <label for="login-input-password" class="login__label">
            비밀번호
            <span id="password_message"></span>
        </label>
        <input id="password" name="password" class="login__input" type="password" onkeyup="passwordTest()"
               style="ime-mode:disabled"/>

        <label for="login-input-password" class="login__label">
            비밀번호 확인
            <span id="passwordConfirm_message"></span>
        </label>
        <input id="passwordConfirm" name="passwordConfirm" class="login__input" type="password" onkeyup="passwordTest()"
        style="ime-mode:disabled"/>

        <button type="submit" class="login__submit" onclick="btn_signup()">회원가입</button>
    </div>
</div>
<script src="/javaScripts/signup.js"></script>
</body>
</html>
