<link rel='stylesheet' href='/stylesheets/nav.css' />
<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggler" data-toggle="open-navbar1">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <a href="/">
                <img src='/img/heaventree.png' width="140" height="23">
            </a>
        </div>

        <div class="navbar-menu" id="open-navbar1">
            <ul class="navbar-nav">
                <%if(authority.administrator){%>
                    <li><a href="/usermanagement">이용자 관리</a></li>
                <%}%>

                <% if(authority.administrator || authority.editAuthority){%>
                    <li class="btn-open-popup"><a href="#">물품 등록</a></li>
                <%}%>

                <li><a href="/itemmanagement">물품 관리</a></li>

                <% if(authority.administrator || authority.openAuthority){%>
                    <li><a href="/rentalStatus">대여 현황</a></li>
                <%}%>

                <li><a href="/myRental">나의 대여 현황</a></li>
                <li><a href="/login/api/logout">로그아웃</a></li>
            </ul>
            <p><%- name%>님 환영합니다.</p>

        </div>
    </div>
</nav>
<%- include('../item/createItem.ejs')%>
<script defer src="/javaScripts/itemCreate.js"></script>
<script defer src="/javaScripts/categoryIndex.js"></script>
<script defer src="/javaScripts/nav.js"></script>
<script defer src="/javaScripts/library/xlsx.full.min.js"></script>

