/*!* Google Web Font *!*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');*/
/** {*/
/*    box-sizing: border-box;*/
/*}*/
/*body {*/
/*    font-family: 'Montserrat', sans-serif;*/
/*    margin: 0;*/
/*    color: #333;*/
/*    font-size: 15px;*/
/*    line-height: 1.6em;*/
/*    background-color: #f5f5f5;*/
/*    height: 100vh;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*!* Table *!*/
/*.itemInfoListTable {*/
/*    width: 80%;*/
/*    background-color: #fff;*/
/*    border-collapse: collapse;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);*/
/*    border-radius: 5px;*/
/*    overflow: hidden;*/
/*}*/
/*.itemInfoListTable tr {*/
/*    border-bottom: 1px solid #eee;*/
/*}*/
/*.itemInfoListTable tr:last-child {*/
/*    border: none;*/
/*}*/
/*.itemInfoListTable tr:nth-child(odd) {*/
/*    background-color: #ddd;*/
/*}*/
/*.itemInfoListTable th,*/
/*.itemInfoListTable td {*/
/*    padding: 12px;*/
/*    text-align: center;*/
/*}*/
/*.itemInfoListTable tr th {*/
/*    background-color: royalblue;*/
/*    color: #fff;*/
/*}*/
/*.itemInfoListTable tr th:first-child {*/
/*    border-radius: 5px 0 0 0;*/
/*}*/
/*.itemInfoListTable tr th:last-child {*/
/*    border-radius: 0 5px 0 0;*/
/*}*/
/*.itemInfoListTable tr td:last-child {*/
/*    color: crimson;*/
/*    font-weight: 500;*/
/*}*/


