<!--
    * 담당자 : 정희성
    * 설명 : 작성된 물품 정보를 저장해주는 페이지
    * 주요기능 : 물품 등록 버튼 클릭 시 작성한 정보를 저장해주는 기능
                초기화 버튼 클릭 시 입력 값들을 초기화해주는 기능
                취소 버튼 클릭 시 값 초기화 후 모달 창을 종료해주는 기능
-->
<link rel='stylesheet' type="text/css" href='/stylesheets/itemCreate.css'>
<div class="modal_create">
    <div class="modal_create_body">
        <h2 class="create_h2">물품 등록</h2>
        <label class="create__label">대분류 :
            <button class="button_create" onclick="btn_toggle(parentCategory)">항목추가</button>
        </label>
        <select type="text" name="parentCategory" id="select_parentCategory" class="select_parent"
        onchange="optionParentCategory()">
            <option value="" disabled selected>대분류 선택</option>
        </select>
        <div class="parentCategory">
        </div>
        <label class="create__label">소분류 :
            <button class="button_create" onclick="btn_toggle(childCategory)">항목추가</button>
        </label>
        <select type="text" name="childCategory" id="select_childCategory" class="select_child"
        onchange="optionChildCategory()">
            <option value='' disabled selected>소분류 선택</option>
        </select>

        <div class="childCategory">
        </div>
        <label class="create__label">물품 이름 : </label>
        <input type="text" name="name" id="name" class="create__input">
        <br/>
        <div class="rental_return">
            <div>
                <label class="create__rentalLabel">대여 가능 여부 : </label>
                <select id="rental" name="rental" type="text" class="select_rental">
                    <option value='' disabled selected>선택</option>
                    <option value="true">가능</option>
                    <option value="false">불가능</option>
                </select>
            </div>
            <div>
                <label class="create__returnLabel">반환 필요 여부 : </label>
                <select id="return" name="return" type="text" class="select_return">
                    <option value='' disabled selected>선택</option>
                    <option value="true">필요</option>
                    <option value="false">불필요</option>
                </select>
            </div>
        </div>
        <label class="create__label">물품 코드 : </label>
        <input type="text" name="code" id="code" class="create__input">
        <br/>
        <label class="create__label">물품 갯수 : </label>
        <input type="Number" name="all" id="all" class="create__input">
        <br/>
        <label class="create__label">액셀로 등록 :
            <input type="file" id="excelFile" onchange="excelExport(event)"/>
        </label>

        <div class="btn_class">
            <button class="btn-createItem button_create">물품 등록</button>
            <button class="btn-initItem btn-secondary">초기화</button>
            <button class="btn-cancel btn-danger">취소</button>
        </div>


    </div>
</div>