<!--
    * 담당자 : 강재민
    * 설명 : 대여자 명단을 표시하기 위한 모달
    * 주요기능 : 데이터를 받아 렌더링 해주기 위한 틀을 만들어줌
-->
<div class="lenders_modal" id="lenders_modal">
    <div class="lenders_modal_body" id="lenders_modal_body">
        <div id="title">

        </div>
        <table class="lenders_table" id="lenders_table" >
            <thead>
            <tr>
                <th>사번</th>
                <th>대여자명</th>
            </tr>
            </thead>
            <tbody class="lenders_table_body" id="lenders_table_body">

            </tbody>
        </table>
    </div>
</div>