<div class="lenders_modal" id="lenders_modal">
    <div class="lenders_modal_body" id="lenders_modal_body">
        <div id="title">

        </div>
        <table class="lenders_table" id="lenders_table" >
            <thead>
            <tr>
                <th>사번</th>
                <th>대여자명</th>
            </tr>
            </thead>
            <tbody class="lenders_table_body" id="lenders_table_body">

            </tbody>
        </table>
    </div>
</div>