<div class="history_modal" id="history_modal">
    <div class="history_modal_body" id="history_modal_body">
        <div class="modal_iteminfo" id="modal_iteminfo">

        </div>
        <table class="history_table" id="history_table" >
            <thead>
            <tr>
                <th>상태</th>
                <th>대여자</th>
                <th>대여사유</th>
                <th>대여일</th>
                <th>반납(예정)일</th>
            </tr>
            </thead>
            <tbody class="history_table_body" id="history_table_body">

            </tbody>
        </table>
    </div>
</div>