body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.div-indexItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 350px;
    position : relative;
}

.indexitems{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin : 30px;
    min-height: 350px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 6px 6px 15px 0 rgb(96 96 96 / 24%)
}

.containerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #e3e3e3;
}

.containerBottom{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin : 5px 5px 5px 5px;
}

.containerRow{
    flex-direction: column;
}

.indexTh{
    background-color: #3c4250;
    color: white;
}
.divLinkIcon{
    background: no-repeat;
    border: none;
    cursor: pointer;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0px 5px 0px 5px;
}

.linkIcon{
    background: no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin:5px;
}

