.modal_create {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
.modal_create.show {
    display: block;
}

.modal_create_body {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 680px;

    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    /*text-align: center;*/

    background-color: #F4F7F8;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
.create_h2 {
    margin-bottom: 20px;
    text-align: center;
}
.create__label {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.create__input {
    color: rgba(105, 102, 105);
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: .3rem .5rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
}
.input_category {
    color: rgba(105, 102, 105);
    font-size: 0.8rem;
    width: 50%;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
}

.select_parent, .select_child {
    color: rgba(105, 102, 105);
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: .3rem .5rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
}
.select_rental, .select_return {
    color: rgba(105, 102, 105);
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    padding: .3rem .5rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
}
.rental_return {
    display: flex;
    justify-content: space-between;
}

select option[value=""][disabled] {
    display: none;
}