.itemManagementBody {
    width: 100%;
    align-items: center;
    text-align: center;
}


/* general styling */
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}

/*대여자 목록 모달*/
.lenders_modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
.lenders_modal.show {
    display: block;
}
.lenders_modal_body {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 600px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

/*대여자 목록 모달*/
.history_modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}
.history_modal.show {
    display: block;
}
.history_modal_body {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 70%;
    height: 600px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

select {
    width: 200px; padding: .8em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('/img/arrow-down.png') white no-repeat 95% 50%;
    background-size: 18px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*관리자기능 버튼*/
.btn-manager {
    background: no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin:5px;
}

/*관리자기능 버튼 아이콘*/
.manage-icon{
    width: 24px;
    height: 24px;
}

/*검색창*/
.input_search {
    width: 250px;
    height: 32px;
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: white;
}

/*검색버튼*/
.btn-search{
    background: no-repeat;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin:5px;
    vertical-align: middle;
}

/*검색 아이콘*/
.search-icon{
    width: 24px;
    height: 24px;
}

/*엑셀 내보내기 버튼*/
.btn-put-excel{
    background: no-repeat;
    cursor: pointer;
    margin:5px;
    font-size: 16px;
    border: none;
    vertical-align: middle;
}

/*엑셀 내보내기 버튼 아이콘*/
.excel-icon{
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.itemManagementBody{
    text-align: center;
}

/*표 캡션*/
caption{
    text-align: right;
}

h1{
    padding: 20px;
}

.btn-rent{
    color: blue;
    cursor: pointer;
}

.input-purpose{
    width: 200px;
    height: 50px;

}