/**
* 담당자 : 정희성
* 파일 설명 : 물품 등록 페이지 CSS
**/
/*물품 등록 모달 창 뒷 배경 CSS*/
.modal_create {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
/*모달 창 띄어주는 CSS*/
.modal_create.show {
    display: block;
}
/*물품 등록 모달 창 CSS*/
.modal_create_body {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 680px;

    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    /*text-align: center;*/

    background-color: #F4F7F8;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
.create_h2 {
    margin-bottom: 20px;
    text-align: center;
}
.create__label {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.create__rentalLabel, .create__returnLabel {
    justify-content: space-between;
    padding-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.create__input {
    color: rgba(105, 102, 105);
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: .3rem .5rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
}
.input_category {
    color: rgba(105, 102, 105);
    font-size: 0.8rem;
    width: 50%;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
}

.select_parent, .select_child {
    color: rgba(105, 102, 105);
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: .3rem .5rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
}
.select_rental, .select_return {
    color: rgba(105, 102, 105);
    font-size: 0.8rem;
    width: 100%;
    margin-bottom: 0.5rem;
    padding: .3rem .5rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
}
.rental_return {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 0.5rem;
}

.button_create {
    box-shadow:inset 0px 1px 0px 0px #0098FE;
    background: #0098FE;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    padding:6px 12px;
    text-decoration:none;
}
.button_create:hover {
    background: #0073E6;
}
.button_create:active {
    position:relative;
    top:1px;
}
/*버튼 전체 div CSS*/
.btn_class {
    text-align: center;
    margin-top: 20px;
}

select option[value=""][disabled] {
    display: none;
}

