.btn-return {
    box-shadow:inset 0px 1px 0px 0px #0098FE;
    background: #0098FE;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    padding:6px 24px;
    text-decoration:none;
}
.btn-return:hover {
    background: #0073E6;
}
.btn-return:active {
    position:relative;
    top:1px;
}
body {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    text-align: center;
}
h1 {
    padding: 20px;
}
.myPage_h2 {
    margin-top: 20px;
    margin-bottom: 40px;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.tab-container {
    display: flex;
    justify-content: center;
}
.tab-container__item {
    cursor: pointer;
}
.tab-container__item:hover {
    background-color: #369fff;
    transition: background-color 0.4s ease-in-out;
}
.tab-container__item:hover .tab-container__item--title {
    color: #fff;
    transition: color 0.4s ease-in-out;
}
.tab-container__item.active {
    border-bottom: 2px solid #369fff;
}
.tab-container__item.active .tab-container__item--title {
    color: #369fff;
}
.tab-container__item.active:hover {
    background-color: #369fff;
    transition: background-color 0.4s ease-in-out;
}
.tab-container__item.active:hover .tab-container__item--title {
    color: #fff;
    transition: color 0.4s ease-in-out;
}
.tab-container__item--title {
    display: inline-block;
    color: #999;
    font-weight: 700;
    text-decoration: none;
    margin: 15px;
}
.content-container {
    padding: 10px;
}
.content-container__content {
    display: none;
}
.content-container__content.target {
    display: block;
}
.myPage_label {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}
.myPage_input {
    color: rgba(105, 102, 105);
    font-size: 1rem;
    width: 70%;
    margin-left: 2rem;
    padding: .3rem 1rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}
.userInfoList {

    width:40%;
    overflow: auto;
    display: inline-block;
    height: 400px;

    margin-bottom: 50px;

    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;

    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;

    text-align: center;

    box-shadow: 3px 3px 9px 0 rgb(96 96 96 / 24%)
}
.myRentalUserIcon {
    margin-top: 50px;
    margin-bottom: 20px;
}
.userIcon {
    margin-bottom: 1rem;
}
.btn-return-div {
    text-align: center;
    margin-top: 20px;
}
.btn_MyPage {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.editUserModal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.editUserModal.show {
    display: block;
}

.editUserModal_body {
    position: fixed;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 680px;

    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    *text-align: center;

    background-color: #F4F7F8;
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
.password_class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 2rem;
}
.myPage_input_password {
    color: rgba(105, 102, 105);
    font-size: 1rem;
    width: 70%;
    height: 2rem;
    padding: .3rem 1rem;
    border: 2px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    background-color: #E8EEEF;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
}