/**
* 담당자 : 강재민
* 파일 설명 : 페이지네이션의 UI를 담당하는 CSS
**/

.page_wrap {
    text-align:center;
    font-size:0;
}
.page_nation {
    display:flex;
    justify-content: center;
    align-items: center;
}
.pages {
    display:flex;
    justify-content: center;
    align-items: center;
}
.page_nation .none {
    display:none;
}
.page_nation a {
    display:block;
    margin:0 3px;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
}
.page_nation .arrow {
    border:1px solid #ccc;
}
.page_nation .prev {
    background:#f8f8f8 url('/img/page_prev.png') no-repeat center center;
    margin-right:7px;
}
.page_nation .next {
    background:#f8f8f8 url('/img/page_next.png') no-repeat center center;
    margin-left:7px;
}
.page_nation a.active {
    background-color:#0098FE;
    color:#fff;
    border:1px solid #0098FE;
}