@font-face {
  font-family: 'SUIT Variable';
  font-weight: 100 900;
  src: url('fonts/SUIT-Variable.woff2') format('woff2-variations');
}

body {
  font-family: 'SUIT-Variable';
  background-color: #EAEAEA;
}

a {
  color: #00B7FF;
}

* {
  font-family: 'SUIT Variable';
}

.btn-primary {
  box-shadow:inset 0px 1px 0px 0px #0098FE;
  background: #0098FE;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  padding:6px 12px;
  text-decoration:none;
}
.btn-primary:hover {
  background: #0073E6;
}
.btn-primary:active {
  position:relative;
  top:1px;
}