.btn_authority{
    color: blue;
    cursor: pointer;
}

button {
    box-shadow:inset 0px 1px 0px 0px #0098FE;
    background: #0098FE;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:12px;
    padding:6px 12px;
    text-decoration:none;
}
button:hover {
    background: #0073E6;
}
button:active {
    position:relative;
    top:1px;
}

body{
    text-align: center;
}
h1{
    padding: 20px;
}