<!--
    * 담당자 : 강재민
    * 설명 : 비밀번호 초기화 페이지 HTML
    * 주요기능 : 비밀번호 초기화에 필요한 태그 생성
-->
<!DOCTYPE html>
<html>
<head>
    <title>사내 물품 관리</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script defer src="/javaScripts/user/forgotPassword.js"></script>
</head>
<body>
<div class="login-container" id="login-container">
    <div class="form-login">
        <ul class="login-nav">
            <li class="login-nav__item active">
                <a href='#'>비밀번호 초기화</a>
            </li>
        </ul>
        <label for="login-input-user" class="login__label">
            사번
        </label>
        <input id="workNumber" name="workNumber" class="login__input" type="text" />

        <label for="login-input-user" class="login__label">
            이메일
        </label>
        <input id="email" name="email" class="login__input" type="text" />

        <label for="login-input-user" class="login__label">
            이름
        </label>
        <input id="name" name="name" class="login__input" type="text" />
        <p style="color: red">초기화를 완료하면 비밀번호는 0405로 초기화 됩니다.</p>
        <button id="btn-login" onclick="passwordReset()" class="login__submit">초기화 완료</button>
    </div>
    <a href="/login" class="login__forgot" style="padding-bottom: 80px">로그인 페이지로 돌아가기</a>

</div>
</body>
</html>
