<!--
    * 담당자 : 강재민
    * 설명 : 로그인 페이지 HTML
    * 주요기능 : 로그인에 필요한 태그 생성
-->
<!DOCTYPE html>
<html>
<head>
    <title>사내 물품 관리</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <script defer src="/javaScripts/user/login.js"></script>
</head>
<body>
    <div class="login-container" id="login-container">
        <div class="form-login">
            <ul class="login-nav">
                <li class="login-nav__item active">
                    <a href="#">LOGIN</a>
                </li>
                <li class="login-nav__item">
                    <a href='/signup'>Sign Up</a>
                </li>
            </ul>
            <label for="login-input-user" class="login__label">
                WORKNUMBER
            </label>
            <input id="workNumber" name="workNumber" class="login__input" type="text" />
            <label for="login-input-password" class="login__label">
                PASSWORD
            </label>
            <input id="password" name="password" class="login__input" type="password" />

            <button id="btn-login" onclick="login()" class="login__submit">LOG IN</button>
        </div>
        <a href="/forgotPassword" class="login__forgot">비밀번호를 잊어버리셨나요?</a>
    </div>
</body>
</html>
